*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
html {
   font-family: "Montserrat", sans-serif;
}
section{
   min-height: 100vh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.container {
   width: 90%;
   max-width: 400px;
   background-color: #475a5a;
   border-radius: 8px;
   overflow: hidden;
}
.display {
   background-color: lightgray;
   height: 100px;
   width: 100%;
   text-align: right;
   padding: 20px;
   font-size: 30px;
   position: relative;
}
.display-history {
   opacity: 0.4;
   font-size: 20px;
   height: 20px;
   overflow: hidden;
}
.temp-result{
   position: absolute;
   bottom: 0;
   left: 10;
   font-size: 20px;
   opacity: 0.3;
}
.all_btn {
   color: whitesmoke;
   display: grid;
   grid-template: repeat(4, 1fr) / repeat(4, 1fr);
}
.btn-0{
   grid-column: 1/3;
}
.btn{
   border: 0.5px solid whitesmoke;
   height: 80px;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 30px;
   cursor: pointer;
}
.btn:hover{
   background-color: #94c4c7;
}
.operation, .all-clear, .last-entry-clear, .equal{
   background-color: #f29e4e;
}
.operation:hover, .all-clear:hover, .last-entry-clear:hover, .equal:hover{
   background-color: #c57224;
}